* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #fff;
}

header {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.meio {
    position: relative;
}

.nav-links {
    position: relative;
    list-style: none;
    display: flex;
    right: 12%;
    flex-grow: 1;
    margin: 0 10%;
}

.nav-links li {
    margin: 0 10px;
    font-size: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.search {
    position: relative;
    display: flex;
    width: 100%;
    align-content: center;
}

.search input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 100%;
}

.search button {
    padding: 5px 15px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #4b0082;
    color: #fff;
    cursor: pointer;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.lista-mangas {
    flex: 3;
    margin-right: 20px;
}

.lista-mangas h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filtros button, .filtros input {
    padding: 10px;
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #6a0dad;
    border-radius: 5px;
    cursor: pointer;
}

.filtros input {
    flex-grow: 1;
    border-radius: 20px;
}

.manga-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.manga-item {
    background-color: #2a2a2a;
    border: 1px solid #6a0dad;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.manga-item img {
    width: 100%;
    height: 70%;
    display: block;
}

.manga-info {
    padding: 10px;
    text-align: center;
}

.manga-info h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.manga-info p {
    font-size: 14px;
    color: #ccc;
}

.manga-item:hover {
    transform: scale(1.05);
}

.popular {
    flex: 1;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
}

.popular h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.popular-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.popular-buttons button {
    padding: 10px;
    background-color: #4b0082;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.popular-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popular-list li {
    background-color: #4b0082;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center; 
}

.popular-list img {
    width: 80px; 
    height: 110px;
    margin-right: 10px; 
    border-radius: 8px;
    object-fit: cover; 
}

.popular-info {
    display: flex;
    flex-direction: column;
}

.popular-info h3 {
    font-size: 18px;
    margin: 0;
    color: #fff;
}

.popular-info p {
    margin: 0;
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
}

.close-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.close-sidebar:hover {
    transform: scale(1.2); 
}

.sidebar-options {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar-option {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #4b0082;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sidebar-option:hover {
    background-color: #6a0dad;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .meio, .search {
        width: 100%;
        margin-bottom: 10px;
    }

    main {
        flex-direction: column;
    }

    .lista-mangas {
        margin-right: 0;
    }

    .popular {
        margin-top: 20px;
    }
}
