* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #fff;
}
header {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.meio {
    position: relative;
}

.nav-links {
    position: relative;
    list-style: none;
    display: flex;
    right: 12%;
    flex-grow: 1;
    margin: 0 10%;
}

.nav-links li {
    margin: 0 10px;
    font-size: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.search {
    position: relative;
    display: flex;
    width: 100%;
    align-content: center;
}

.search input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 100%;
}

.search button {
    padding: 5px 15px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #4b0082;
    color: #fff;
    cursor: pointer;
    align-items: center;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.mais-assistidos, .ultimos-animes {
    margin-top: 20px;
}

.mais-assistidos h2, .ultimos-animes h2 {
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.mais-assistidos h2 .arrow, .ultimos-animes h2 .arrow {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 5px;
}

.mais-assistidos h2::after, .ultimos-animes h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #6a0dad;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}

.anime-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.anime-item {
    background-color: #2a2a2a;
    border: 1px solid #6a0dad;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.anime-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .anime-item:hover::before {
    opacity: 1;
  }

.anime-item img {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #6a0dad;
}

.anime-info {
    padding: 10px;
    text-align: left;
}

.anime-info h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.anime-info p {
    font-size: 14px;
    color: #ccc;
}

.anime-info .duration, .anime-info .quality {
    display: inline-block;
    background-color: #4b0082;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 5px;
    color: #fff;
}

.ver-mais {
    text-align: center;
    margin-top: 20px;
}

.ver-mais button {
    padding: 10px 20px;
    background-color: #6a0dad;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.ver-mais button:hover {
    background-color: #4b0082;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
  }
  
  .close-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
  }
  
  .close-sidebar:hover {
    transform: scale(1.2); 
  }
  .sidebar-options {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .sidebar-option {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #4b0082;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .sidebar-option:hover {
    background-color: #6a0dad;
  }
  
@media (max-width: 768px) {
    .anime-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .anime-list {
        grid-template-columns: 1fr;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links li {
        margin: 10px 0;
    }
}