* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #fff;
}

header {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.meio{
    position: relative;
}

.nav-links {
    position: relative;
    list-style: none;
    display: flex;
    right: 12%;
    flex-grow: 1;
    margin: 0 10%;
}

.nav-links li {
    margin: 0 10px;
    font-size: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.search {
    position: relative;
    display: flex;
    width: 100%;
    align-content: center;
}

.search input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 100%;
}

.search button {
    padding: 5px 15px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #4b0082;
    color: #fff;
    cursor: pointer;
    align-items: center;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.video-container {
    text-align: center;
}

.video-quality {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.video-quality button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.video-box {
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

video {
    width: 100%;
    border: 2px solid #00ffff;
    border-radius: 10px;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navigation-buttons button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.download-options {
    text-align: center;
    margin-top: 20px;
}

.download-options button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.quality-options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.quality-options button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
