* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
}

header .back-arrow {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

header h1 {
    font-size: 2rem;
    color: #fff;
}

main {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    flex-wrap: wrap;
}

.anime-info {
    flex: 3;
    min-width: 0;
    margin-right: 20px;
}

.anime-card {
    display: flex;
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.anime-card img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin-right: 20px;
    flex-shrink: 0;
}

.anime-card .info {
    flex: 1;
    min-width: 0;
}

.anime-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.anime-card .rating {
    font-size: 1.2rem;
    color: #ffd700;
}

.episodes table {
    width: 100%;
    border-collapse: collapse;
}

.episodes th, .episodes td {
    padding: 10px;
    border: 1px solid #6a0dad;
    text-align: left;
}

.episodes a {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s ease;
}

.episodes a:hover {
    color: #fff;
}

.recommended {
    flex: 1;
    margin-top: 20px;
    min-width: 300px;
    position: relative;
    bottom: 28px;
}

.recommended h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.recommended ul {
    list-style: none;
}

.recommended li {
    background-color: #2a2a2a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}

.recommended li img {
    width: 100%;
    border-bottom: 1px solid #6a0dad;
    border-radius: 5px 5px 0 0;
    height: auto;
}

.recommended li p {
    margin: 10px 0 0;
}

.recommended li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.recommended li:hover::before {
    opacity: 1;
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    
    .anime-info, .recommended {
        margin-right: 0;
        margin-top: 20px;
    }

    .anime-card {
        flex-direction: column;
        align-items: center;
    }

    .anime-card img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
